@using System.Globalization
@using System.Web.UI.HtmlControls
@using Microsoft.Ajax.Utilities
<!-- Main content -->
@helper  AcctualWeek()
{
    for (var i = 0; i < 7; i++)
    {
        <th>@CultureInfo.CurrentCulture.DateTimeFormat.GetDayName(DateTime.Now.AddDays(i).DayOfWeek) @(DateTime.Now.AddDays(i).ToString("dd-MM"))</th>
    }
}
@helper  AcctualWeekText()
{
    <th colspan="6" style=" border: none;text-align: center"><h2>Styczeń @DateTime.Now.Year</h2><h3>@DateTime.Now.ToString("dd.MM")-@DateTime.Now.AddDays(6).ToString("dd.MM")</h3></th>
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box" style="width: 100%">
                <div class="box-header">
                    <h3 class="box-title">Grafik</h3>
                </div>
                <div class="box-body">
                    <table id="tableConf" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th id="bt_prev" style="border: none; vertical-align: middle; text-align: center;">
                                    <img src="~/Images/br_prev.png">
                                </th>
                                @AcctualWeekText()
                                <th id="bt_next" style="border: none; vertical-align: middle; text-align: center;">
                                    <img src="~/Images/br_next.png">
                                </th>
                            </tr>
                            <tr>
                                <th>Nazwa pokoju</th>
                                @AcctualWeek()
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Pokój 001</td>
                                <td></td>
                                <td style="background: red"></td>
                                <td style="background: red"></td>
                                <td style="background: red"></td>
                                <td style="background: red"></td>
                                <td></td>
                                <td style="background: orange"></td>
                            </tr>
                            <tr>
                                <td>Pokój 002</td>
                                <td></td>
                                <td style="background: red"></td>
                                <td style="background: red"></td>
                                <td style="background: red"></td>
                                <td style="background: red"></td>
                                <td></td>
                                <td style="background: orange"></td>
                            </tr>
                            <tr>
                                <td>Pokój 003</td>
                                <td></td>
                                <td style="background: red"></td>
                                <td style="background: red"></td>
                                <td style="background: red"></td>
                                <td style="background: red"></td>
                                <td></td>
                                <td style="background: orange"></td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                @AcctualWeek()
                            </tr>
                        </tfoot>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->            
</section><!-- /.content -->
@section scripts{
    <script>
        $(document).ready(function() {

            var table = $('#tableConf').DataTable(
            {
                "bSort": false,
            });
               
            
       

        $("#tableConf tfoot th").each(function() {
            if ($(this).index() == (0)) {
                var title = $("#tableConf thead th").eq($(this).index()).text();
                title = title.toLowerCase().replace(/\s+/, "");
                $(this).html('<input type="text" placeholder=" Filtruj ' + title + '" />');
            }
        });

        table.columns().eq(0).each(function(colIdx) {
            $("input", table.column(colIdx).footer()).on("keyup change", function() {
                table
                    .column(colIdx)
                    .search(this.value)
                    .draw();
            });
        });
    })
    </script>
}