@model HotelManagementService.Models.LoginViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="~/icon64x64.ico">
        <title>Logowanie | Panel Zarządzania</title>
        <link rel="stylesheet" href="~/Content/bootstrap.min.css">
        <link rel="stylesheet" href="~/Content/signin/signin.css">
        <style>
            /*.form-control { height: 100px;}*/
        </style>
    </head>
    <body>
        <div class="container" align="center">
            @using (Html.BeginForm("Login", "Account", new {ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "form-signin", role = "form"}))
            {
                @Html.AntiForgeryToken()
                <h2 class="form-signin-heading">Zaloguj się</h2>
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new {@class = "sr-only ", @for = "inputEmail"})
                    <div class="input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-envelope"></span>
                        </span>
                        @Html.TextBoxFor(m => m.UserName, new {@class = "form-control", @type = "text", @id = "inputEmail", @placeholder = "Adres e-mail"})
                    </div>
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new {@class = "sr-only", @for = "inputPassword"})
                    <div class="input-group" style="top: 0;">
                        <span class="input-group-addon">
                            <i class="glyphicon glyphicon-lock"></i>
                        </span>
                        @Html.PasswordFor(m => m.Password, new { @type = "password", @id = "inputPassword", @class = "form-control ", @placeholder = "Hasło" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <div class="form-group">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe, new {@type = "chekbox"})
                </div>
                <div class="form-group">
                    <input type="submit" value="Zaloguj" class="btn btn-lg btn-danger btn-block" />

                </div>
            @*<p>
                    @Html.ActionLink("Register", "Register") if you don't have a local account.
                </p>*@
            }


            @*<div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>*@
        </div>
        @section scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </body>
</html>