@model HotelManagementService.Models.Event

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_ManagementLayout.cshtml";
}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"><b>Usuń</b></h3>
                    <hr />
                    <h3>Czy na pewno chcesz usunąć rezerwację?</h3>
                </div>
                <div class="box-body">
                  
                    <div>
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayName("Nazwa pokoju:")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Room.RoomName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ArriveDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ArriveDate)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.DepatureDate)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DepatureDate)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Price)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Price)
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Usuń" class="btn btn-danger" />
                                @Html.ActionLink("Powrót", "Index", null, new { @class = "btn btn-default" })
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
        </section>
